body{
  background-color: #ecf0f1
}

.panel h5{
  font-style: italic;
  font-weight:bold;
  color: white;
}
.panel p{
  color:white;
}
.panel a{
  color:#2ecc71;
}
.panel{
  background-color:#416176;
  color:white;
}
.columns{
  padding:7px;
}


@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

code {
  width: 13.2em; /* fallback, # of chars × 0.55 */
  width: 13ch; /* # of characters */
  border-right: .1em solid;
  overflow: hidden;
  animation: typing 12s steps(24, end), caret .5s step-end infinite alternate;
}