body{
  /*background-color: #ecf0f1*/
  background-image:url(hexellence.png);
  overflow-y:hidden;
}

.panel h5{
  font-style: italic;
  font-weight:bold;
  color: white;
}
.panel p{
  color:white;
}
.panel a{
  color:#2ecc71;
}
.panel{
  background-color:#416176;
  color:white;
}
.columns{
  padding:7px;
}
.logo{
  width:300px;
  height:300px;
}

.right {
    position: absolute;
    right: 0px;
    width:300px;
    height:300px;
} /*left is default*/

.label{
  margin-bottom:10px;
}